body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FAFAFA;
}

h1 {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: rgba(2, 112, 110, 0.157);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  font-size: 40px;
}

main {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  z-index: 2;
}

main > .chargement {
  height: 100vh;
  background-image: url("../img/bg-chargement.jpeg");
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 1.1s ease-out;
  transition: opacity 1.1s ease-out;
}

main > .chargement > img {
  width: 150px;
  margin-top: 70%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main > .chargement > p {
  color: #d8d8d8;
  text-align: center;
  font-weight: bold;
}

main > .now {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 20px;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main > .now > h2 {
  font-size: 30px;
  margin-top: 20vh;
  text-align: center;
  font-weight: 600;
}

main > .now > .now-icon {
  height: 20%;
  width: auto;
  margin-top: 5vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main > .now > .now-infos {
  position: absolute;
  width: 60%;
  bottom: 0px;
}

main > .now > .now-infos > .description {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

main > .now > .now-infos > .temperature {
  font-size: 90px;
}

main > .now > .down-arrow {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: arrow 1.5s infinite;
          animation: arrow 1.5s infinite;
}

main > .bg-blur {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 90vh;
  background-color: rgba(2, 112, 110, 0.157);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
}

main > .hours-days {
  position: relative;
  z-index: 3;
}

main > .hours-days > .hours {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}

main > .hours-days > .hours > .hour {
  height: 15vh;
  width: 80px;
  margin: 0 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: start;
  scroll-padding: 0 20px;
  font-size: 18px;
  text-align: center;
}

main > .hours-days > .hours > .hour > .hour-icon {
  height: 50%;
  width: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main > .hours-days > .days {
  height: 70vh;
  width: 100%;
}

main > .hours-days > .days > .day {
  height: calc(100%/7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .hours-days > .days > .day > .day-text {
  width: 25%;
  text-transform: capitalize;
  margin-left: 5%;
  font-size: 18px;
}

main > .hours-days > .days > .day > .day-icon {
  height: 80%;
  width: auto;
  margin-right: 5%;
}

main > .hours-days > .days > .day > .day-temperature {
  margin-right: 3%;
  font-size: 16px;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 1vh;
  }
  50% {
    bottom: 5vh;
  }
  100% {
    bottom: 1vh;
  }
}

@keyframes arrow {
  0% {
    bottom: 1vh;
  }
  50% {
    bottom: 5vh;
  }
  100% {
    bottom: 1vh;
  }
}
/*# sourceMappingURL=style.css.map */